@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://images.pexels.com/photos/11391081/pexels-photo-11391081.jpeg?cs=srgb&dl=pexels-svetlana-romashenko-11391081.jpg&fm=jpg') no-repeat center;
}

header {
    display: flex;
    background: rgba(1, 1, 1, 0.5);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    padding: 20px 0 0 30px;
    font-size: 20px;
}

header p {
    /* margin-top: 20px; */
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 0 30px 20px 30px;
}